# Package Files #
*.jar
*.war
*.ear
.DS_Store

# directories #
**/target/
**/logs/
**/bin/

# eclipse related #
**/.settings
**/.classpath
**/.project

#buildinfo
**/buildinfo.properties

upload_coverage.sh
