# Package Files #
#*.jar
.DS_Store

# directories #
**/target/
**/logs/
**/bin/

# eclipse related #
**/.settings
**/.classpath
**/.project
**/.pmd

#buildinfo
**/buildinfo.properties

upload_coverage.sh
