# Package Files #
*.jar
*.war
*.ear
.DS_Store

# directories #
target/
logs/

# eclipse related #
.settings
.classpath
.project

#buildinfo
src/main/resources/buildinfo.properties

upload_coverage.sh
